body {background-color: rgb(255, 191, 255);}
main {text-align:justify;text-align: center}
.titulos {color: rgb(36, 36, 165); size: 27px; width: bold;}
p {size: 22px;}
em {font-size: 18px;color: rgb(104, 31, 104)}
header {background: rgb(255, 180, 255); padding: 20px 0;}
.logo {width: 25%; height: 20%;}
.caixa {position: relative; width: 811px; margin: 0 auto;}
nav {position: absolute; top: 55px; right: 0;}
nav li {display: inline; margin: 0 0 0 15px;}
nav a {text-transform: uppercase; color: black; font-weight: bold; font-size: 22px; text-decoration: none;}
footer {background: rgb(255, 180, 255);}
.logotiposherevela {width: 10%; height: 10%; display: block; margin-left: auto; margin-right: auto;}
main {text-align: justify; text-align: center;}
