body {background-color: rgb(255, 191, 255); text-align:justify;text-align: center}
h2 {color: rgb(36 ,  36 ,  165); font-size: 27px}
em {font-size: 18px;color: rgb(104, 31, 104)}
button {color: rgb(250, 144, 250);}
.headersherevela {width: 40%; height: 30%}
footer {color: #9959FF}
.logo {width: 10%; height: 10%}
